{% extends 'base.html'%}
{% block title %}Home {% endblock %}
{% block body %}
{% if messages %}
<ul class="messages" style='color:white;'>
    {% for message in messages %}
    <li>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% for PROFILE in PROFILE%}

<div class="container">

    <div class="card">
        <a href="{% url 'single_prof' PROFILE.id %}"><img src="{{PROFILE.image.url}}" style="width:80%"></a>
        <h1>{{PROFILE.name}}</h1>
        <p>{{PROFILE.phone}}</p>
        <p>{{PROFILE.deate_of_birth}}</p>

        <p>
            <button style="background-color:green;"><a href="">Update</a></button>
        </p>
        <p><a href="{% url 'delete' PROFILE.id %}">
            <button style="background-color: red;">Delete</button>
        </a></p>
    </div>
</div>

{% endfor%}
{% endblock %}
